/* App.css */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 100%; /* Ensure full height */
    width: 100%; /* Ensure full width */
}

/* Set default font and background colors using CSS variables */
:root {
    --primary-background: #282c34; /* Dark gray, adjust to your preference */
    --text-color: #FFFFFF; /* White text, adjust as needed */
}

body {
    background-color: var(--primary-background);
    color: var(--text-color);
    font-family: Arial, sans-serif; /* Example font */
}

.component-full-height {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

