.feature-reel {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

s .reel-video {
    max-width: 100%;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}